.container {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

header, footer {
  background-color: rgb(6, 6, 115);
  color: white;
  text-align: center;
}


.calcul {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.calcul label {
  display: inline-block;
  width: 200px;
}
